video{
   object-fit: cover;
   height: 100%;
   width: 100%;
   z-index: -100;
    position: absolute;
    top: 0;
    bottom: 0;
}

li{
  list-style: none;
  position: relative;
  bottom: 135px;
  left: 165px;

}
.container{
background-size: cover;  

} 
.weather-app{
background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/084/874/original/blue-sky-with-clouds-background-elegant_1017-26302.jpg?1686248991) ;
  background-repeat: no-repeat;
  background-size: 100%;
   border-radius: 15px;
   font-family: 'Poppins', sans-serif;
   padding: 40px 20px;
   margin: 10px 10px 10px 10px;

}

.search-tool{
position:relative;
margin-bottom: 15px;
}

.search-icon{
    size: 120%;
}

.search-button {
  position: absolute;
  left:30px;
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}
.search-bar{
 position: absolute; 
 left: 30px;
 width: 300px;
 height:25px;
 border-radius:25px;
 border: none;
 padding: 10px 10px;

}
.current-button{
  position: absolute;
  left: 340px;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}
.date-city-icon{
    position: relative;
     left:-11px;
     top: 25px;
     color: white;

}
.date{
    font-size: 20px;
    font-weight: 400;
    position: relative;
    left: 130px;
}
.city{
    font-size: 61px;
    position: relative;
      left: 61px;

}
.sun-icon{
    position: relative;
    left: 85px;
}
.time-temperature-infomation{
    background-color: rgba(255, 255, 255, 0.474);
    color:#16aadc;
    position: relative;
    bottom: 179px;
    left: 500px;
    width: 460px;
    height: 200px; 
    border-radius:20px;
    padding-left:35px;
    padding-top:40px;
    
}
.time{
    font-size: 16px;
    position: relative;
    right: -59px;
}
#temperature{
    font-size: 50px;
}
.units{
  position: relative;
  bottom: 60px;
  left:65px;
  font-size: 30px;
}
.celsius-icon, .fahrenheit{
  font-weight: lighter;
  color:#006eff;
  text-decoration:none ;
}

a:hover{
  color: white;
  cursor: pointer;
  text-decoration:underline;
  
}
.information{
    position:relative;
    margin: 38px 25px;
    bottom:40px;
}
.description{
  color:#16aadc;
  font-size: 16px;
  position: relative;
  bottom: 50px;
  left: 10px;
  
}

.container-cards{
  display: flex;
  position: absolute;
   bottom: 20px;
   left: 100px;
   right:100px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  
  
}
.day {
 
  border-radius: 5px;
   flex: 0 0 calc(20% - 20px);
  padding: 10px;
  margin-bottom: 10px;
 background-color:#87cbe1a2;
  width: 130px;
   height: 130px;
  margin: 10px;
  color: #32b5e1;
  

}
.days:hover{
  color:#2cc3f5c7;
}

.day-name {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: center;
}

.day-temp {
  font-size: 14px;
  text-align: center;
}
.day img{
    display: block;
    margin: 0 auto;
}

.day-temp .max {
  font-weight: bold;
}

.day-temp .min {
  color:white;
}
p{
    font-family: monospace;
    font-size: 12px;
    text-align: center;
}
